<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-fr-aereo/airplane-480x420.png 500w, ../../../assets/website-images/images-fr-aereo/airplane-1024x300.png 1024w, ../../../assets/website-images/images-fr-aereo/airplane-1920x540.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
                <section class="content maxWidth">
                    <h1 class="title">{{ 'services.freteAereo.title' | translate }}</h1>

                    <div class="flexContainer">
                        <article>
                            <p>{{ 'services.freteAereo.description1' | translate }}</p>

                            <p>{{ 'services.freteAereo.description2' | translate }}</p>

                            <p>{{ 'services.freteAereo.description3' | translate }}</p>
                        </article>
                        <div class="imageMainContent">
                            <img srcset="../../../assets/website-images/images-fr-aereo/airplane-circle.png 2560w"
                            sizes="(max-width: 600px) 200vw">
                        </div>
                    </div>
                </section>

                <section class="reversedColor">
                    <div class="maxWidth ">
                        <h2>{{ 'services.freteAereo.servicesTitle' | translate }}</h2>
                            <div class="panels">
                                <details name="panel">
                                    <summary>{{ 'services.freteAereo.doorToDoor.title' | translate }}</summary>
                                    <div class="summary-content">
                                        <p>{{ 'services.freteAereo.doorToDoor.description' | translate }}</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteAereo.directConsolidated.title' | translate }}</summary>
                                    <div class="summary-content">
                                        <p>{{ 'services.freteAereo.directConsolidated.description' | translate }}</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteAereo.dangerousGoods.title' | translate }}</summary>
                                    <div class="summary-content">
                                        <p>{{ 'services.freteAereo.dangerousGoods.description' | translate }}</p>
                                
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteAereo.perishableGoods.title' | translate }}</summary>
                                    <div class="summary-content">
                                        <p>{{ 'services.freteAereo.perishableGoods.description' | translate }}</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteAereo.pharmaceutical.title' | translate }}</summary>
                                    <div class="summary-content">
                                        <p>{{ 'services.freteAereo.pharmaceutical.description' | translate }}</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteAereo.packaging.title' | translate }}</summary>
                                    <div class="summary-content">
                                        <p>{{ 'services.freteAereo.packaging.description' | translate }}</p>
                                    
                                    </div>
                                </details>
                            </div>
                    </div>      
            </section>

            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>

<app-footer></app-footer>