<app-header></app-header>
<main>
    <section class="mainContent">
        <div>
            <section class="content maxWidth">
                <h1 class="title">{{ 'services.seguroCarga.title' | translate }}</h1>

                <div class="flexContainer">
                    <article>
                        <p>{{ 'services.seguroCarga.description1' | translate }}</p>

                        <p>{{ 'services.seguroCarga.description2' | translate }}</p>

                        <p>{{ 'services.seguroCarga.description3' | translate }}</p>
                    </article>
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-seguro-carga/insurance.png 2560w"
                        sizes="(max-width: 600px) 200vw">
                    </div>
                </div>
            </section>
            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>
<app-footer></app-footer>
