<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-des-adu/caminhao-estrada2.jpg 600w, ../../../assets/website-images/images-des-adu/truck-1920x540.png, 1920w"
        sizes="(min-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
            <section class="maxWidth content">
                <h1 class="title">{{ 'services.desembaracoAduaneiro.title' | translate }}</h1>
                <div class="flexContainer">
                    <article class="articleContent">
                        <p>{{ 'services.desembaracoAduaneiro.description1' | translate }}</p>

                        <p>{{ 'services.desembaracoAduaneiro.description2' | translate }}</p>

                        <p>{{ 'services.desembaracoAduaneiro.description3' | translate }}</p>
                    </article>
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-des-adu/desembaraco-circle.png 2560w"
                        sizes="(max-width: 600px) 200vw">
                    </div>
                </div>
            </section>
            <section class="reversedColor">
                <div class="maxWidth">
                    <h2>{{ 'services.desembaracoAduaneiro.supportTitle' | translate }}</h2>

                    <p>{{ 'services.desembaracoAduaneiro.supportDescription1' | translate }}</p>

                    <p>{{ 'services.desembaracoAduaneiro.tasksTitle' | translate }}</p>
                    <div class="panels">
                        <details name="panel">
                            <summary>{{ 'services.desembaracoAduaneiro.consulting.title' | translate }}</summary>
                            <div class="summary-content">
                                <p>{{ 'services.desembaracoAduaneiro.consulting.description' | translate }}</p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>{{ 'services.desembaracoAduaneiro.tariffClassification.title' | translate }}</summary>
                            <div class="summary-content">
                                <p>{{ 'services.desembaracoAduaneiro.tariffClassification.description' | translate }}</p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>{{ 'services.desembaracoAduaneiro.specialRegime.title' | translate }}</summary>
                            <div class="summary-content">
                                <p>{{ 'services.desembaracoAduaneiro.specialRegime.description' | translate }}</p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>{{ 'services.desembaracoAduaneiro.documentation.title' | translate }}</summary>
                            <div class="summary-content">
                                <p>{{ 'services.desembaracoAduaneiro.documentation.description' | translate }}</p>
                                </div>
                        </details>
                        <details name="panel">
                            <summary>{{ 'services.desembaracoAduaneiro.lpco.title' | translate }}</summary>
                            <div class="summary-content">
                                <p>{{ 'services.desembaracoAduaneiro.lpco.description' | translate }}</p>
                                </div>
                        </details>
                        <details name="panel">
                            <summary>{{ 'services.desembaracoAduaneiro.duimpDue.title' | translate }}</summary>
                            <div class="summary-content">
                                <p>{{ 'services.desembaracoAduaneiro.duimpDue.description' | translate }}</p>
                                </div>
                        </details>
                    </div>
                </div>
            </section>
           <app-contato-content></app-contato-content>
        </div>   
    </section>
</main>

<app-footer></app-footer>