<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-fr-marit/navio-IA700x900.png 700w, ../../../assets/website-images/images-fr-marit/navio-IA1024x575.png 1024w, ../../../assets/website-images/images-fr-marit/navio-IA1920x540.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
            <section class="content maxWidth">
                <h1 class="title">{{ 'services.freteMaritimo.title' | translate }}</h1>

                <div class="flexContainer">
                    <article>
                        <p>{{ 'services.freteMaritimo.description1' | translate }}</p>

                        <p>{{ 'services.freteMaritimo.description2' | translate }}</p>
                    </article>
                    <div class="imageMainContent">
                        <img
                            src="../../../assets/website-images/images-fr-marit/navio-IA-circle.png"
                            srcset="../../../assets/website-images/images-fr-marit/navio-IA-circle.png 2560w"
                            sizes="(max-width: 1000px) 100vw, 40vw"
                            width="2560"
                            height="2560"
                            loading="lazy"
                            decoding="async"
                            alt="Navio porta-contêineres"
                        >
                    </div>
                </div>
            </section>
            <section class="reversedColor">
                    <div class="maxWidth">
                        <h2>{{ 'services.freteMaritimo.servicesTitle' | translate }}</h2>
                            <div class="panels">
                                <details name="panel">
                                    <summary>{{ 'services.freteMaritimo.lcl.title' | translate }}</summary>
                                    <div class="summary-content">
                                    <p>{{ 'services.freteMaritimo.lcl.description' | translate }}</p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteMaritimo.fcl.title' | translate }}</summary>
                                    <div class="summary-content">
                                    <p>{{ 'services.freteMaritimo.fcl.description' | translate }}</p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteMaritimo.doorToDoor.title' | translate }}</summary>
                                    <div class="summary-content">
                                    <p>{{ 'services.freteMaritimo.doorToDoor.description' | translate }}</p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteMaritimo.projectCargo.title' | translate }}</summary>
                                    <div class="summary-content">
                                    <p>{{ 'services.freteMaritimo.projectCargo.description' | translate }}</p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteMaritimo.roro.title' | translate }}</summary>
                                    <div class="summary-content">
                                    <p>{{ 'services.freteMaritimo.roro.description' | translate }}</p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>{{ 'services.freteMaritimo.breakBulk.title' | translate }}</summary>
                                    <div class="summary-content">
                                    <p>{{ 'services.freteMaritimo.breakBulk.description' | translate }}</p>
                                    </div>
                                </details>
                            </div>
                    </div>    
            </section>
            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>
<app-footer></app-footer>
