<div [formGroup]="form" class="formContainer">
  <form (ngSubmit)="send($event)" class="form">
    <label for="name" class="fieldset_label">{{
      "contact.form.company" | translate
    }}</label>
    <input
      formControlName="from_name"
      type="text"
      name="name"
      id="name"
      [placeholder]="'contact.form.placeholder.company' | translate"
      required
      autocomplete="off"
      class="fieldset_input"
    />

    <label for="email" class="fieldset_label">{{
      "contact.form.email" | translate
    }}</label>
    <input
      formControlName="from_email"
      type="email"
      name="email"
      id="email"
      [placeholder]="'contact.form.placeholder.email' | translate"
      class="fieldset_input"
      required
    />

    <label for="subject" class="fieldset_label">{{
      "contact.form.subject" | translate
    }}</label>
    <input
      formControlName="subject"
      type="text"
      name="subject"
      id="subject"
      autocomplete="off"
      class="fieldset_input"
      [placeholder]="'contact.form.placeholder.subject' | translate"
      required
    />

    <label for="message" class="fieldset_label">{{
      "contact.form.message" | translate
    }}</label>
    <textarea
      formControlName="message"
      type="text"
      name="message"
      id="message"
      maxlength="500"
      [placeholder]="'contact.form.placeholder.message' | translate"
      required
      rows="6"
    ></textarea>

    <div class="flexContainer">
      <button type="button" (click)="send()">
        <span *ngIf="!isSubmitting">{{
          "contact.form.sendMessage" | translate
        }}</span>
        <span *ngIf="isSubmitting">{{ "common.loading" | translate }}</span>
      </button>
    </div>
  </form>
  <div
    *ngIf="successMessage || errorMessage"
    class="popup-overlay"
    [class.hiding]="isHiding"
  >
    <div class="popup-content">
      <div *ngIf="successMessage" class="successMessage">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
