<app-header></app-header>
<main>
    <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-home/container500x500.png 500w, ../../../assets/website-images/images-home/navio-frente-1024x576.png 1024w, ../../../assets/website-images/images-home/ship-home-1920x700.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section>

    <section class="mainContent">
        <div>
            <section class="maxWidth">
                <div class="content">
                    <h1 class="title">{{ 'home.title' | translate }}</h1>

                    <div class="split">
                        <div class="content-split">
                            <p>{{ 'home.description' | translate }}</p>
                        </div>
                        <div class="content-cotacao">
                            <app-cotacao></app-cotacao>
                        </div>
                    </div>
                </div>
            </section>

            <section>
            <div class="reversedColor">
                <h1 class="title">{{ 'home.exploreServices' | translate }}</h1>

                <div class="content">
    
                    <div class="rowIcons">
                        <a href="frete-maritimo" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/ship.svg"/></div>
                
                                <h3>{{ 'navigation.freteMaritimo' | translate }}</h3>
                                
                            </article>
                        </a>

                        <a href="frete-aereo" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/airplane.svg"/></div>
                
                                <h3>{{ 'navigation.freteAereo' | translate }}</h3>
                                
                            </article>
                        </a>

                        <a href="transporte-rodoviario" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/truck.svg"/></div>
                
                                <h3>{{ 'navigation.transporteRodoviario' | translate }}</h3>
                                
                            </article>
                        </a>
                        <a href="desembaraco-aduaneiro" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/display.svg"/></div>
                
                                <h3>{{ 'navigation.desembaracoAduaneiro' | translate }}</h3>
                                
                            </article>
                         </a>
                        
                        

                        <a href="seguro-carga" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/shield.svg"/></div>
                                    
                                <h3>{{ 'navigation.seguroCarga' | translate }}</h3>
                                
                            </article>
                        </a>
                    </div>
                    <section class="mt-2">
                        <div class="maxWidth flexContainer">
                            <div class="content">
                                <p>{{ 'home.servicesDescription1' | translate }}</p>
        
                                <p>{{ 'home.servicesDescription2' | translate }}</p>
                                
                            </div>
        
                            <div class="imageMainContent">
                                <img srcset="../../../assets/website-images/images-home/mapa-azul-circle.png 2560w"
                                sizes="(max-width: 600px) 200vw">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
            <section>
                    <div class="maxWidth">
                        <div class="contatoContent">
                            <div class="contatoContainer">
                                <h1 class="title">{{ 'home.contactCTA.title' | translate }}</h1>
                                
                                <p>{{ 'home.contactCTA.description1' | translate }}</p>

                                <p>{{ 'home.contactCTA.description2' | translate }}</p>

                                <p>{{ 'home.contactCTA.description3' | translate }}</p>

                                <a href="/contato" class="cta">{{ 'home.contactCTA.cta' | translate }}</a>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </section>
</main>
<app-footer></app-footer>